.body{
    margin: 0;
    padding: 0px 30px;
    background: #ff7e15;
}


.header{
    height: 90px;
    width: 100%;
    border-bottom: 4px solid red;
}

.shiv{
    height: 90px;
    width: 90px;
    float: left;
}

.head{
    float: left;
    font-size: 40px;
    line-height: 37px;
    color: white;
    font-family: "Times New Roman", Times, serif;
}

.list ul{
    float: right;
    display: flex;
    list-style: none;
}

.list ul li a{
    color: red;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 34px;
    font-weight: bold;
    line-height: 73px;
 }

.list ul li a:hover{
    border: 4px solid red;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.list ul li a:active{
    border: 4px solid red;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
    border: 5px solid red;
    border-radius: 30px;
    box-shadow: 5px 5px 10px red;
}
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 20s infinite;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}

img{
    width: 100%;
}


.head-div{
    height: 70px;
    width: 100%;
    display: flex;
}

.head-div img{
    height: 100px;
    width: 100px;
    float: left;

}
.head-div h2{
    font-size: 70px;
    float: left;
}








/* Index starting */
.box{
    height: 330px;
    width: 100%;
}

.block{
    height: 310px;
    width: 48%;
    margin: 8px;
    float: left;
}
.block img{
    height: 310px;
    width: 100%;
    border: 4px solid red;
    border-radius: 30px;
    box-shadow: 5px 5px 10px red;
}


.block-1{
    height: 310px;
    width: 48%;
    margin: 8px;
    float: right;
}
.block-1 img{
    height: 310px;
    width: 100%;
    border: 4px solid red;
    border-radius: 30px;
    box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
    }


/* about page starting */
.about-banner{
    height: 500px;
    width: 100%;
    display: flex;
}

.about-banner div{
    height: 460px;
    width: 34%;
    margin-top: 20px;
}
.about-banner div img{
    height: 460px;
    width: 100%;
}

.about-banner nav{
    height: 460px;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}
.about-banner nav ul{
    list-style: none;
    font-size: 27px;
    padding: 50px 0px;
}
.about-banner nav ul li a{
    text-decoration: none;
}

.objective{
    height: 70px;
    width: 100%;
    display: flex;
    font-size: 26px;
    text-align: center;
}
.objective span{
    font-weight: bold;
}

.table{
    border: 5px solid black;
    border-color: black;
    text-align: center;
    font-size: 30px;
}

.t-data{
    width: 50%;
    font-size: 33px;
}


.about-x span{
    font-weight: bold;
    font-size: 12px;
    text-decoration: underline;  
}
.about-x ul{
    font-size: 12px;
    
}








/* contact */
.contact-info ul{
    list-style: none;
    font-size: 27tpx;
}
.contact-info ul li a{
    text-decoration: none;
    color: #002dff;
}
.contact-info ul li span{
    font-weight: bold;
}

.social-icon{
    height: 200px;
    width: 100%;
    display: flex;
    border: 2px solid black;
}
.social-icon div{
    margin: auto;
}
.social-icon div a img{
    height: 180px;
    width: 100%;
}





/* footer starting */
.footer{
    height: 100px;
    width: 100%;
    border-top: 4px solid red;
}
.footer div{
    float: left;
    height: 98px;
    width: 80%;
    font-size: 28px;
    font-weight: bold;
}

.footer nav{
    float: right;
}
.footer nav a{
    height: 40px;
    width: 40px;
    display: inline-block;
    background: black;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}
.footer nav a i{
    color: white;
    font-size: 27px;
}
.footer nav a i:hover{
    color: blue;
}
/* footer ending */
